<div class="home__header-footer home__header">
  <div id="pmg-global-header" class="log-appear" role="navigation" aria-label="Navegación global" tabindex="0">
    <div class="global-header">
      <a id="pmgLnkLogo" href="https://go.microsoft.com/fwlink/p/?LinkId=717085" aria-label="Microsoft" title="Microsoft">
        <img class="logo icon-sprite" src="https://res-1.cdn.office.net/officehub/images/content/images/lockup-mslogo-color-78c06e8898.png">
      </a>
      <a id="pmgLnkSignin" href="https://www.office.com/login?es=Click&amp;ru=%2F" aria-label="Iniciar sesión" title="Iniciar sesión">
        Iniciar sesión
      </a>
    </div>
  </div>
  <div class="pmg-category-header-placeholder"></div>
  <div id="pmg-category-header" class="pmg-category-header" role="navigation" aria-label="Navegación del sitio de Office" tabindex="0">
  <section class="ms-grid">
    <ul class="pmg-first-row ms-row">
      <li class="pmg-category-header-logo">
        <ul class="pmg-category-header-logo-container">
          <li tabindex="0" id="pmg-category-header--skip-navigation-flyout-tab-placeholder" class="hide-xs show-m"></li>
          <li class="pmg-skip-navigation-flyout hidden">
            <a href="javascript: void(0);" class="body-alt" id="pmgLnkSkipMainNav" aria-label="Omitir navegación principal" title="Omitir navegación principal">
              Omitir navegación principal
            </a>
          </li>
          <li>
            <a id="pmgLnkLogoLink" class="pmg-category-header-logo-link" href="https://www.office.com" aria-label="Página principal de Office.com" title="Página principal de Office.com">
              <img id="pmg-category-header--office-logo" class="pmg-logo" src="https://res-1.cdn.office.net/officehub/images/content/images/desktop_office-9850437e57.png">
              <svg focusable="false" id="pmg-category-header--expand-collapse" height="11" width="11" viewBox="0 0 1000 1000" preserveAspectRatio="xMinYMin meet" role="img" xmlns="http://www.w3.org/2000/svg">
                <title>Expandir o contraer</title>
                <polygon fill="white" points="500 697.9 146.9 344.8 189.5 302.1 500 612.6 810.5 302.1 853.1 344.8 "></polygon>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li id="pmg-products-menu-item" class="pmg-header-item">
        <a class="pmg-menu-link body-alt" id="pmgLnkProducts" href="http://localhost:4200/#/productos" aria-haspopup="true" aria-expanded="false" aria-controls="pmg-produces-menu-flyout" title="Productos" ms.interactiontype="14">
          Productos
        </a>
      </li>
      <li class="pmg-header-item">
        <a class="pmg-menu-link body-alt " id="pmgLnkTemplate" href="http://localhost:4200/#/plantillas" title="Plantillas">
          Plantillas
        </a>
      </li>
      <li class="pmg-header-item">
        <a class="category-link body-alt " id="pmgLnkSupport" href="http://localhost:4200/#/soporte-tecnico" title="Soporte técnico">
          Soporte técnico
        </a>
      </li>
      <li class="pmg-header-item">
        <a class="category-link body-alt" id="pmgLnkMyAccount" href="http://localhost:4200/#/mi-cuenta" title="Mi cuenta">
          Mi cuenta
        </a>
      </li>
    </ul>
  </section>
</div>

</div>
