<div class="home__header-footer home__header">
  <div id="pmg-global-header" class="log-appear" role="navigation" aria-label="Navegación global" tabindex="0">
    <div class="global-header">
      <a id="pmgLnkLogo" href="https://go.microsoft.com/fwlink/p/?LinkId=717085" aria-label="Microsoft" title="Microsoft">
        <img class="logo icon-sprite" src="https://res-1.cdn.office.net/officehub/images/content/images/lockup-mslogo-color-78c06e8898.png">
      </a>
      <a id="pmgLnkSignin" href="https://www.office.com/login?es=Click&amp;ru=%2F" aria-label="Iniciar sesión" title="Iniciar sesión">
        Iniciar sesión
      </a>
    </div>
  </div>
  <div class="pmg-category-header-placeholder"></div>     <div id="pmg-category-header" class="pmg-category-header" role="navigation" aria-label="Navegación del sitio de Office" tabindex="0">
  <section class="ms-grid">
    <ul class="pmg-first-row ms-row">
      <li class="pmg-category-header-logo">
        <ul class="pmg-category-header-logo-container">
          <li tabindex="0" id="pmg-category-header--skip-navigation-flyout-tab-placeholder" class="hide-xs show-m"></li>
          <li class="pmg-skip-navigation-flyout hidden">
            <a href="javascript: void(0);" class="body-alt" id="pmgLnkSkipMainNav" aria-label="Omitir navegación principal" title="Omitir navegación principal">
              Omitir navegación principal
            </a>
          </li>
          <li>
            <a id="pmgLnkLogoLink" class="pmg-category-header-logo-link" href="https://www.office.com" aria-label="Página principal de Office.com" title="Página principal de Office.com">
              <img id="pmg-category-header--office-logo" class="pmg-logo" src="https://res-1.cdn.office.net/officehub/images/content/images/desktop_office-9850437e57.png">
              <svg focusable="false" id="pmg-category-header--expand-collapse" height="11" width="11" viewBox="0 0 1000 1000" preserveAspectRatio="xMinYMin meet" role="img" xmlns="http://www.w3.org/2000/svg">
                <title>Expandir o contraer</title>
                <polygon fill="white" points="500 697.9 146.9 344.8 189.5 302.1 500 612.6 810.5 302.1 853.1 344.8 "></polygon>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li id="pmg-products-menu-item" class="pmg-header-item">
        <a class="pmg-menu-link body-alt" id="pmgLnkProducts" href="javascript: void(0);" aria-haspopup="true" aria-expanded="false" aria-controls="pmg-produces-menu-flyout" title="Productos" ms.interactiontype="14">
          Productos
          <svg focusable="false" id="pmg-category-header--products--expand-collapse" viewBox="0 0 1000 1000" height="11" width="11" preserveAspectRatio="xMinYMin meet" role="img" xmlns="http://www.w3.org/2000/svg">
            <title>Expandir o contraer</title>
            <polygon fill="white" points="500 697.9 146.9 344.8 189.5 302.1 500 612.6 810.5 302.1 853.1 344.8 "></polygon>
          </svg>
        </a>
        <ul id="pmg-produces-menu-flyout" class="pmg-menu hidden" role="group" aria-label="Vínculos de productos para uso doméstico, para empresas y para el ámbito educativo" tabindex="0">
          <li class="pmg-flyout-column">
            <ul class="pmg-flyout-body" role="group" aria-label="Productos para uso doméstico" tabindex="0">
              <li class="pmg-flyout-header">
                <a id="pmg-for-home-header-link" class="body-alt" href="https://products.office.com/es-419/compare-microsoft-office-products" aria-label="Información general para uso doméstico" title="Para uso doméstico">Para uso doméstico</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-home--try" class="body-alt" href="https://products.office.com/es-419/try" aria-label="Probar" title="Probar">Probar</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-home--buy" class="body-alt" href="https://products.office.com/es-419/buy/office" aria-label="Comprar" title="Comprar">Comprar</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-home--for-households" class="body-alt" href="https://products.office.com/es-419/office-365-home" aria-label="Para hogares" title="Para hogares">Para hogares</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-home--for-individuals" class="body-alt" href="https://products.office.com/es-419/office-365-personal" aria-label="Para usuarios individuales" title="Para usuarios individuales">Para usuarios individuales</a>
              </li>
            </ul>
          </li>
          <li class="pmg-flyout-column">
            <ul class="pmg-flyout-body" role="group" aria-label="Productos para empresas" tabindex="0">
              <li class="pmg-flyout-header">
                <a id="pmg-for-business-header-link" class="body-alt" href="https://products.office.com/es-419/business/office" aria-label="Información general para empresas" title="Para empresas">Para empresas</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-business--smb" class="body-alt" href="https://products.office.com/es-419/business/explore-office-365-for-business" aria-label="SMB" title="SMB">SMB</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-business--enterprise" class="body-alt" href="https://products.office.com/es-419/business/enterprise-productivity-tools" aria-label="Empresa" title="Empresa">Empresa</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-business--it" class="body-alt" href="https://products.office.com/es-419/business/office-for-it-pros" aria-label="TI" title="TI">TI</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-business--plans-pricing" class="body-alt" href="https://products.office.com/es-419/business/compare-office-365-for-business-plans" aria-label="Planes y precios" title="Planes y precios">Planes y precios</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-business--customer-stories" class="body-alt" href="https://products.office.com/es-419/business/office-365-customer-stories-office-testimonials" aria-label="Historias de clientes" title="Historias de clientes">Historias de clientes</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-business--trust-center" class="body-alt" href="https://products.office.com/es-419/business/office-365-trust-center-welcome" aria-label="Seguridad y privacidad" title="Seguridad y privacidad">Seguridad y privacidad</a>
              </li>
            </ul>
          </li>
          <li class="pmg-flyout-column pmg-last-flyout-column">
            <ul class="pmg-flyout-body" role="group" aria-label="Productos para el ámbito educativo" tabindex="0">
              <li class="pmg-flyout-header">
                <a id="pmg-for-education-header-link" class="body-alt" href="https://products.office.com/es-419/student/office-in-education" aria-label="Información general para el ámbito educativo" title="Para el ámbito educativo">Para el ámbito educativo</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-education--for-teachers" class="body-alt" href="https://go.microsoft.com/fwlink/?linkid=823414" aria-label="Para profesores y alumnos" title="Para profesores y alumnos">Para profesores y alumnos</a>
              </li>
              <li class="pmg-flyout-item">
                <a id="pmg-category-header--products--for-education--for-schools" class="body-alt" href="https://go.microsoft.com/fwlink/?linkid=823416" aria-label="Para escuelas" title="Para escuelas">Para escuelas</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="pmg-header-item">
        <a class="pmg-menu-link body-alt " id="pmgLnkTemplate" href="https://go.microsoft.com/fwlink/p/?LinkID=506569" title="Plantillas">
          Plantillas
        </a>
      </li>
      <li class="pmg-header-item">
        <a class="category-link body-alt " id="pmgLnkSupport" href="https://go.microsoft.com/fwlink/p/?LinkID=506714" title="Soporte técnico">
          Soporte técnico
        </a>
      </li>
      <li class="pmg-header-item">
        <a class="category-link body-alt" id="pmgLnkMyAccount" href="https://office.com/start/MyAccount.aspx?omkt=es-419" title="Mi cuenta">
          Mi cuenta
        </a>
      </li>
    </ul>
  </section>
</div>

</div>
