<app-cabecera></app-cabecera>
<div class="m-0 row justify-content-center">
  <div class="col-auto p-5 text-center">
<h4 ><strong>PREPARACIÓN</strong></h4>
<p>Se dibuja en un folio una <strong>doble</strong> <b> cuadrícula de puntos</b> de 6×7 para partidas cortas o de 9×10 para partidas más largas. </p>
<p>Antes de iniciar el juego, se decide qué jugadora unirá los puntos por el <b>recorrido vertical</b> (puntos negros) y qué jugadora lo hará por el <b>recorrido horizontal</b> (círculos blancos). </p>
<h4 ><strong>REGLAS</strong></h4>
<p>Un turno se compone de una&nbsp;<b>única acción</b>:</p>
<p>La jugadora A traza una línea que&nbsp;<b>une dos puntos</b> en horizontal o vertical (nunca en diagonal) de manera que&nbsp;<b>no cruce otra línea</b>&nbsp;ya dibujada (propia o de la otra jugadora) y únicamente tocando círculos de su color.</p>
<p>Se suceden los turnos y en el momento que alguna jugadora logre conectar sus dos extremos del recorrido (arriba con abajo o derecha con izquierda) habrá ganado.</p>
</div>
</div>
<app-pie-pagina></app-pie-pagina>
