<footer class="bg-secondary text-center text-white ">
  <div class="container-fluid p-5">
      <div class="row mb-3 ">
        <div class="col">
          <h5 class="text-uppercase">Constructora</h5>
          <label>
            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit At vero eos et
            accusamus et iusto odio dignissimos At vero eos et accusamus et iusto odio At vero eos et accusamus
            et iusto odio dignissimos
          </label>
        </div>
        <div class="col">
          <h5 class="text-uppercase">Noticias</h5>
          <label>
            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit At vero eos et
            accusamus et iusto odio dignissimos
          </label><br>
          <label>
            At vero eos et accusamus et iusto odio At vero eos et accusamus
            et iusto odio dignissimos
          </label>
        </div>
        <div class="col">
          <h5 class="text-uppercase">Contáctanos</h5>
          <label>Avenida Siempre viva, Quito, Pichincha, Ecuador</label><br>
          <label>0933838483/0987483887</label><br>
          <label>correo@gmail.com</label><br>
        </div>
      </div>
  </div>
  <div class="text-center p-3 bg-dark">
    © Todos los derechos reservados
    <a class="text-white" href="https://localhost:4000">Constructora.com</a>
  </div>
</footer>

