<div id="get-office" class="get-office" aria-labelledby="get-office-header" role="region">
  <div class="content-gutter">
    <div class="width-restrictor">

      <h2 id="get-office-header" class="get-office__header">Consigue aplicaciones premium de Office con Microsoft 365</h2>
      <div class="get-office__link-container">
        <div class="get-office__link">
          <img class="get-office__link-image" src="https://res-1.cdn.office.net/officehub/images/content/images/for-home-22b0da7562.png" alt="" aria-hidden="true">
          <a id="get-office-today-for-home-link" class="animated-link" href="https://products.office.com/compare-all-microsoft-office-products?tab=1"><span class="animated-link--text">Para uso doméstico</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
        </div>
        <div class="get-office__link">
          <img class="get-office__link-image" src="https://res-1.cdn.office.net/officehub/images/content/images/for-business-7a6cb040bd.png" alt="" aria-hidden="true">
          <a id="get-office-today-for-business-link" class="animated-link" href="https://products.office.com/compare-all-microsoft-office-products?tab=2"><span class="animated-link--text">Para empresas</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
        </div>
        <div class="get-office__link">
          <img class="get-office__link-image" src="https://res-1.cdn.office.net/officehub/images/content/images/for-enterprise-b5e0072ea2.png" alt="" aria-hidden="true">
          <a id="get-office-today-enterprise-link" class="animated-link" href="https://www.microsoft.com/en-us/microsoft-365/enterprise"><span class="animated-link--text">Para empresas</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
        </div>
        <div class="get-office__link">
          <img class="get-office__link-image" src="https://res-1.cdn.office.net/officehub/images/content/images/for-education-5ca7026e70.png" alt="" aria-hidden="true">
          <a id="get-office-today-edu-link" class="animated-link" href="https://products.office.com/es-419/student/office-in-education"><span class="animated-link--text">Para el ámbito educativo</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="social-media-section" class="section social-media__section" aria-labelledby="social-media-header" role="navigation">
  <div class="social-media__wrapper">
    <span id="social-media-header" class="social-media__text">Siga Office</span>
    <a id="social-media-linkedin" class="social-media__link" href="https://www.linkedin.com/company/3509299" aria-label="Linkedin" title="Linkedin">
      <picture class="lazy" style="opacity: 1;">
        <source type="image/png" media="(-ms-high-contrast: white-on-black)" srcset="https://res-1.cdn.office.net/officehub/images/content/images/linkedin-hc-77fefd2418.png">
        <img class="social-media__link--image" aria-hidden="true" alt="" src="https://res-1.cdn.office.net/officehub/images/content/images/linkedin-refresh-02734a460c.png">
      </picture>
    </a>
    <a id="social-media-facebook" class="social-media__link" href="https://go.microsoft.com/fwlink/p/?LinkID=506743" aria-label="Facebook" title="Facebook">
      <picture class="lazy" style="opacity: 1;">
        <source type="image/png" media="(-ms-high-contrast: white-on-black)" srcset="https://res-1.cdn.office.net/officehub/images/content/images/facebook-hc-b6ac21c866.png">
        <img class="social-media__link--image" aria-hidden="true" alt="" src="https://res-1.cdn.office.net/officehub/images/content/images/facebook-refresh-090a700c0f.png">
      </picture>
    </a>
    <a id="social-media-twitter" class="social-media__link" href="https://go.microsoft.com/fwlink/p/?LinkId=506744" aria-label="Twitter" title="Twitter">
      <picture class="lazy" style="opacity: 1;">
        <source type="image/png" media="(-ms-high-contrast: white-on-black)" srcset="https://res-1.cdn.office.net/officehub/images/content/images/twitter-hc-e34f4d31bc.png">
        <img class="social-media__link--image" aria-hidden="true" alt="" src="https://res-1.cdn.office.net/officehub/images/content/images/twitter-refresh-93ca1a80ff.png">
      </picture>
    </a>
    <a id="social-media-instagram" class="social-media__link" href="https://go.microsoft.com/fwlink/p/?LinkId=524828" aria-label="Instagram" title="Instagram">
      <picture class="lazy" style="opacity: 1;">
        <source type="image/png" media="(-ms-high-contrast: white-on-black)" srcset="https://res-1.cdn.office.net/officehub/images/content/images/instagram-hc-9fd0f4b194.png">
        <img class="social-media__link--image" aria-hidden="true" alt="" src="https://res-1.cdn.office.net/officehub/images/content/images/instagram-refresh-5d315a943e.png">
      </picture>
    </a>
    <a id="social-media-office-blogs-link" class="social-media__link" href="https://go.microsoft.com/fwlink/p/?LinkID=506712" aria-label="Blogs de Office" title="Blogs de Office">
      <picture class="lazy" style="opacity: 1;">
        <source type="image/png" media="(-ms-high-contrast: white-on-black)" srcset="https://res-1.cdn.office.net/officehub/images/content/images/blog-hc-bcc394c1aa.png">
        <img class="social-media__link--image" aria-hidden="true" alt="" src="https://res-1.cdn.office.net/officehub/images/content/images/blog-33305b0d90.png">
      </picture>
    </a>
  </div>
</div>
