<div id="main" role="main" class="snap">

  <div id="hero-section" class="hero" aria-labelledby="hero-header" role="region">
    <div class="content-gutter width-restrictor--hero">
      <div class="width-restrictor">
        <div class="hero__content">
          <h1 id="hero-header" class="hero__title">Le damos la bienvenida a Office</h1>
          <p class="hero__subtitle" aria-label="Su lugar para crear, comunicarse, colaborar y realizar un trabajo excelente.">Su lugar para crear, comunicarse, colaborar y realizar un trabajo excelente.</p>
          <div class="hero__buttons-container">
            <a id="hero-banner-sign-in-to-office-365-link" class="hero__button hero__button--primary" href="https://www.office.com/login?es=Click&amp;ru=%2F" aria-label="Iniciar sesión">
              Iniciar sesión
            </a>
            <a id="hero-banner-get-office-link" class="hero__button hero__button--secondary" href="https://products.office.com/compare-all-microsoft-office-products?tab=1" aria-label="Obtener Office">
              Obtener Office
            </a>
          </div>
          <a id="hero-banner-free-upsell-v1-link" class="hero__link animated-link" href="https://signup.live.com/signup?mkt=es-419&amp;uiflavor=web&amp;lw=1&amp;fl=easi2&amp;client_id=4345a7b9-9a63-4910-a426-35363201d503&amp;wreply=https%3A%2F%2Fwww.office.com%2F%3Fauth%3D1%26from%3DOdotComFreeSignup"><span class="animated-link--text">Suscríbete a la versión gratuita de Office</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
    <picture class="hero__image">
      <source srcset="https://res-1.cdn.office.net/officehub/images/content/images/hero-xs-f51b963e9f.jpg" media="(max-width: 539px)" alt="" aria-hidden="true">
      <source srcset="https://res-1.cdn.office.net/officehub/images/content/images/hero-sm-5b496137f1.jpg" media="(max-width: 767px)" alt="" aria-hidden="true">
      <source srcset="https://res-1.cdn.office.net/officehub/images/content/images/hero-md-9db2f4c3f2.jpg" media="(max-width: 1083px)" alt="" aria-hidden="true">
      <source srcset="https://res-1.cdn.office.net/officehub/images/content/images/hero-lg-1460635451.jpg" media="(max-width: 1259px)" alt="" aria-hidden="true">
      <source srcset="https://res-1.cdn.office.net/officehub/images/content/images/hero-xl-73c5b55777.jpg" media="(max-width: 1599px)" alt="" aria-hidden="true">
      <img class="" src="https://res-1.cdn.office.net/officehub/images/content/images/hero-xxl-b79c4b74fa.jpg" alt="" aria-hidden="true">
    </picture>
  </div>







</div>
