<div id="office-apps" class="office-apps" aria-labelledby="office-apps-header" role="region">
  <div id="office-apps-content" class="content-gutter">
    <div class="width-restrictor">
      <h2 id="office-apps-header" class="office-apps__header">Inicia sesión para usar tus aplicaciones de productividad favoritas desde cualquier dispositivo</h2>
      <div class="office-apps__app-container">
        <div class="office-apps__app-wrapper">
          <div class="office-apps__app" data-color="#185ABD">
            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--wordLogo ms-ohp-Icon--wordLogoFill"></span>
            <p class="office-apps__app-text">Word</p>
          </div>
          <div class="office-apps__app" data-color="#107C41">
            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--excelLogo ms-ohp-Icon--excelLogoFill"></span>
            <p class="office-apps__app-text">Excel</p>
          </div>
          <div class="office-apps__app" data-color="#D24726">
            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--powerpointLogo ms-ohp-Icon--powerpointLogoFill"></span>
            <p class="office-apps__app-text">PowerPoint</p>
          </div>
          <div class="office-apps__app" data-color="#80397B">
            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--onenoteLogo ms-ohp-Icon--onenoteLogoFill"></span>
            <p class="office-apps__app-text">OneNote</p>
          </div>
          <div class="office-apps__app" data-color="#094ab2">
            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--oneDriveLogo"></span>
            <p class="office-apps__app-text">OneDrive</p>
          </div>
          <div class="office-apps__app" data-color="#0072C6">
            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--outlookLogo ms-ohp-Icon--outlookLogoFill"></span>
            <p class="office-apps__app-text">Outlook</p>
          </div>
          <div class="office-apps__app" data-color="#5558AF">
            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--teamsLogo ms-ohp-Icon--teamsLogoFill"></span>
            <p class="office-apps__app-text">Teams</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <picture class="office-apps__video lazy" style="opacity: 1;">
    <source media="(max-width: 1083px)" alt="" aria-hidden="true" srcset="https://res-1.cdn.office.net/officehub/images/content/images/office-apps-mobile-43aaa71a74.gif">
    <img alt="" aria-hidden="true" src="https://res-1.cdn.office.net/officehub/images/content/images/office-apps-347d86a528.gif">
  </picture>
</div>
